@keyframes opacityIn {
	0% {
		opacity: 0;
		display: none;
	}

	100% {
		opacity: 1;
		display: flex;
	}
}

@keyframes opacityOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slideIn {
	0% {
		right: -200%;
		opacity: 0;
	}

	100% {
		right: 0%;
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		right: 0%;
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		right: -200%;
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.75);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}
