@use './variables' as vars;

@mixin tablet {
	@media (max-width: vars.$desktop-width) {
		@content;
	}
}

@mixin mobile-big {
	@media (max-width: vars.$tablet-width) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: vars.$mobile-width) {
		@content;
	}
}

@mixin mobile-small {
	@media (max-width: vars.$mobile-small-width) {
		@content;
	}
}

@mixin hover {
	&:hover,
	&:focus {
		@content;
	}
}

@mixin active {
	&:active {
		@content;
	}
}

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
