/* COLORS */
$light: #ffffff;
$dark: #000000;

$grey: #f7f7f7;
$green: #07ff02;
$pink-dark: #d33be8;
$purple: #8248f6;

$bg-color: #000;
$text-color: #fff;
$main-color: #373737;
$secondary-color: #ff662c;
